@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.ville {
  font: size 1.5em;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}

i {
  font-size: 1.5rem;
}

/* Explorer*/
.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem, 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 8px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200 ms;
  margin-top: 1rem;
  cursor: pointer;
}
.explorer button button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: dissappear 200ms 4s forwards;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
  animation-iteration-count: 4;
}

@keyframes dissappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.fonc {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.fonc ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .fonc ol {
    flex-direction: column;
  }
}
.fonc li {
  position: relative;
  list-style-type: none;
  background: color #f3f3f3;
  padding: 1rem 2rem;
  border: 1px solid red;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
}
.fonc li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.fonc li:hover {
  transform: none scale(1.02);
}
.fonc i.fas {
  margin-right: 1rem;
  color: #f6f6f6;
  font-size: 1.5rem;
}

#homepage .menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
#homepage .menus .menus_cards {
  display: grid;
  grid-template-columns: repeat(2fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  #homepage .menus .menus_cards {
    grid-template-columns: repeat 1, 1fr;
  }
}
#homepage .menus .menus_cards .new {
  position: relative;
}
#homepage .menus .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
#homepage .menus .card_image {
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
#homepage .menus .card__image1 {
  background-image: url("../asserts/image1.jpg");
}
#homepage .menus .card__image2 {
  background-image: url("../asserts/image2.jpg");
}
#homepage .menus .card__image3 {
  background-image: url("../asserts/image3.jpg");
}
#homepage .menus .card__image4 {
  background-image: url("../asserts/image4.jpg");
}
#homepage .menus .card_description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
#homepage .menus .card_description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smothing: antialiased;
  font-family: "font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#homepage .menus .card_description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smothing: antialiased;
  font-family: "font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .menus .card_description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#homepage .menus .card h3,
#homepage .menus .card p {
  padding: 0.3rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem;
}
footer p {
  padding: 0.2rem;
}

@keyframes disappear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
body {
  background-color: #f6f6f6;
}

#page-resto header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#page-resto header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smothing: antialiased;
  font-family: "font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: transform 200ms;
}

.banner img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  -o-object-position: center bottom;
}

.resto_title {
  margin-top: -2rem;
}
.resto_title h2 {
  font-family: "shrikhand", "cursive";
  padding: 2rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}
.resto_title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smothing: antialiased;
  font-family: "font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.resto_title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smothing: antialiased;
  font-family: "font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.resto_title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.resto_main {
  padding: 0 1rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1f);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menu {
    grid-template-columns: 1fr;
  }
}
.menu h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin: bottom 1rem;
}
.menu h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0rem;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
.menu .menu_category {
  overflow: hidden;
}
.menu .menu_category .menu-item {
  display: flex;
  background-color: white;
  overflow: hidden;
  border-radius: 1rem;
  margin: 0.5rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menu .menu_category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.menu .menu_category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.menu .menu_category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
.menu .menu_category .menu-item .menu-item_price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menu .menu_category .menu-item .menu-item_description {
  padding: 1rem;
  overflow: hidden;
}
.menu .menu_category .menu-item .menu-item_description h4, .menu .menu_category .menu-item .menu-item_description p {
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu_category .menu-item .menu-item_check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menu .menu_category .menu-item .menu-item_check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
  transform: rotate(-360deg);
}
.menu .menu_category .menu-item:hover {
  cursor: pointer;
}
.menu .menu_category .menu-item:hover .menu-item_check {
  margin-right: 0;
}
.menu .menu_category .menu-item:hover i {
  animation: quarter-spin 500ms ease-in-out;
}
@keyframes quarter-spin {
  0% {
    transform: rotate -270deg;
  }
  100% {
    transform: rotate(0);
  }
}

section.order {
  height: 30vh;
  display: grid;
  place-items: center;
}
section.order button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem, 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 8px -3px #000000;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200 ms;
  margin-top: 1rem;
  cursor: pointer;
}
section.order button button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
section.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
