/* Explorer*/
@use "./mixins";
@use"./util/couleur";

.explorer{
    text-align: center;

& h2{
   
    font-size: 2rem;
}
& p {
    font-size: 1rem;
}
& button {
    
  

 @include mixins.base-button;
}   
& button:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }
}

.loader {
    $animation-duration:1s;
    $animation-count:4;
    position: fixed;
    display: grid;
    place-items: center;
    background-color:#ffffff;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: dissappear 200ms $animation-duration*$animation-count forwards;
   
   
    transform-origin: top;
    &::after{
       content: "";
        height: 100px;
        width:100px ;
        border: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid couleur.$purple;
        border-radius: 50%;
        animation: spin $animation-duration infinite ease-in-out;
        animation-iteration-count:  $animation-count;
    }
    

}
@keyframes dissappear { 
   
    to{ 
        transform: scale(0);
    }
}
@keyframes spin {
    to { 
        transform: rotate(360deg);
    }
}