@use"./mixins.scss";
@use"./util/variables.scss";
@use "./util/couleur.scss";



.fonc {
   
    counter-reset:steps;
    margin-bottom: 2rem;

    & ol {
        display: flex;
       
        gap: 2rem;

        @media(max-width:1000px ) {
            flex-direction: column;
        }


    }


    & li {
        display: flex;
        align-items: center;
        position: relative;
        &::before{
         content: counter(steps);
         counter-increment:steps;
         color: white;
         background-color: couleur.$purple;
         width: 2 * variables.$fonct-var-heihgt;
         height: 2 * variables.$fonct-var-heihgt;
         display: grid;
         place-items: center;
         border-radius: 50%;
         position: absolute;
         top: 50%;
         left: -1 * variables.$fonct-var-heihgt;
        transform: translateY(-50%);
        }

        
        list-style-type: none;
        background: color #f6f6f6;
        padding: 1rem 2rem;
        
        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.baseshadow;
    &:hover{
        @include mixins.zoom;
        background-color: lighten(couleur.$purple, 30%);
        i::before {
            color:couleur.$purple ; 

        }
    }
    } 
    & i.fas{
        margin-right: 1rem;
        color: rgb(118, 98, 98);
       
        font-size: 1.5rem;
    }



}